
@import "compass/reset";

$scolor: #3c763d;
$icolor: #31708f;
$ecolor: #a94442;
.noty_bar{
  display: flex;
  align-items: center;
}
.btn-exit{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    appearance: none;
    background-color: transparent;
    border-radius: 50%;
    font-size: 12px;
    &:hover{
      cursor: pointer;
    }
    &.success{
      color: $scolor;
      border: 1px solid $scolor;
    }
    &.error{
      color: $ecolor;
      border: 1px solid $ecolor;
    }
    &.info{
      color: $icolor;
      border: 1px solid $icolor;
    }
}

.timer{
  position: absolute;
  top: 50%;
  right: 70px;
  transform: translateY(-50%);
}